body {
  background-color: black;
}

div.heading {
  line-height: 0.45;
}

h1 {
  color: rgb(210, 140, 230);
  font-family: "Roboto";
  font-size: 64px;
  line-height: 40px;
}

h2 {
  color: rgb(210, 140, 230);
  font-family: "Roboto";
  font-size: 32px;
  line-height: 20px;
}

h3 {
  color: rgb(210, 140, 230);
  font-family: "Roboto";
  font-size: 12px;
}

table, th, td {
  color: rgb(183,193,179);
  border: 2px solid white;
  padding: 20px;
}

audio {
  width: 200px;
  height: 40px;
}

img.me {
  border-radius: 5px;
  width: 650px;
  margin-right:10px;
  overflow: hidden;
  float: left;
}

.home {
  font-family: roboto;
  color: rgb(200,220,250);
  font-size: 24px;
  padding-left: 12em;
  padding-right: 12em;
}

a.navItem {
  font-size: 20px;
  width:18%;
  background-color: rgb(20,40,30);
  border-style: solid;
  border-width: 3px;
  border-color: rgb(100,200,180);
  display: inline-block;
  text-align: center;
}

a:link {
  font-family: "Roboto";
  color: rgb(80,250,130);
}

a:visited {
  color: rgb(35,140,70);
}

.textContent {
  text-align: left;
  background-color: rgb(26,30,40);
  color: rgb(200,220,250);
  font-family: "Roboto";
  font-size: 20px;
  padding: 20px;
  line-height: 115%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 240px;
  margin-right: 240px;
}

.helper {
  padding-left: 10px;
}

.module {
  background-color: rgb(100,100,100);
  color: white;
  font-family: "Roboto";
  font-size: 24px;
}

.input {
  color: white;
}

.code {
  background-color: rgb(100,100,100);
  display: block;
  margin: auto;
}

.fst {
  margin: 4em;
}

.snd {
  margin: 8em;
}

.projImg {
  height: 420px;
  width: 720px;
  border-radius: 5px;
}

.julia {
  height: 840px;
  width: 1440px;
  border-radius: 10px;
}

canvas {
  height: 432px;
  width: 668px;
  border-radius: 5px;
}

@media screen and (max-width: 1084px) {
  .textContent {
    margin-right: 80px;
    margin-left: 80px;
  }
  .helper {
    padding-left: 0px;
  }
  a.navItem {
    line-height: 100px;
    height: 100px;
    width: 15%;
    font-size: 24px;
  }
  h1 {
    line-height: 65px;
  }
  h2 {
    font-size: 25px;
    line-height: 30px;
  }
  img.me {
    width: 100%;
    float: none;
  }
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 20%;
  height: 32px;
  background: #444444;
  border-radius: 16px;
}